body{
    font-family: 'gilroy';
    background-color: white;
}

.brandBorder{
    border-color: #F7941E;
}
h1{
    font-size: 2.6rem;
    line-height: 3rem;
}

.about{
    background-image: url('./images/about.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}