
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    src: local('Gilroy-Bold'), url('fonts/Gilroy-Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bolder;
    src: local('Gilroy-Heavy'), url('../fonts/Gilroy-Heavy.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: lighter;
    src: local('Gilroy-Light'), url('../fonts/Gilroy-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: local('Gilroy-Medium'), url('../fonts/Gilroy-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: local('Gilroy-Regular'), url('../fonts/Gilroy-Regular.woff') format('woff');
    }